.columnWrapper {
    display: flex;
    gap: 2rem;
    border: solid black;
    overflow-x: auto;
    padding: 2rem;
    min-height: 400px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 400px;
    border: solid black;
    padding: 2rem;
}