
.columnWrapper {
    display: flex;
    gap: 2rem;
    min-height: 400px;
    width: 100%;
    overflow-x: auto;
}



.column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 400px;
    padding: 2rem;
    border: solid rgb(208, 208, 208) 2px;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.topSection {
    display: flex;
    justify-content: space-between;
}

.toolSection {
    display: flex;
    gap: 1rem;
  }