
.reorderGroup {
    width: 100%;
}

.columnWrapper {
    display: flex;
    gap: 2rem;
    min-height: 400px;
    width: 100%;
    overflow-x: auto;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 400px;
    padding: 2rem;
    border: solid rgb(208, 208, 208) 2px;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.reorderSection {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    cursor:grab;
}

.reorderSection:active {
    cursor: grabbing;
    opacity: 0.7;
}


.topSection {
    display: flex;
    justify-content: space-between;
}

.toolSection {
    display: flex;
    gap: 1rem;
  }
