form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 1rem;
  }

  .textInput {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  }

  .submitSection {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .cancelLink:hover {
    text-decoration: underline;
  }

  button {
    background-color: #151DFF;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
    text-transform: uppercase;
    }
     
    button:hover {
      background-color: #0008e2;
      }

      .checkBox {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    
      .uploadLabel {
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        background-color:#151DFF;
        text-align: center;
        padding: 1rem 3rem;
        cursor: pointer;
      }

      .uploadLabel:hover {
        background-color: #0008e2;
      }

      .uploadLabel i {
        font-size: 1rem;
        margin-right: 8px;
      }


      .uploadButton {
        display: none;
      
      }