
html,
body {
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 2rem;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  margin-bottom: 2rem;
}

a {
  color: rgb(70, 70, 70);
  text-decoration: none;
  font-weight: bold;
}


ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}


.listItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem; 
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  cursor:grab;
}

.listItem:active {
  cursor: grabbing;
  opacity: 0.7;
}

.listItem:hover {
  background-color: rgb(243, 243, 243);
}

.completed {
  text-decoration: line-through;
  color: gray; 
}


button {
background-color: #151DFF;
color: white;
font-weight: bold;
border: none;
padding: 10px 30px;
cursor: pointer;
}


button:hover {
  background-color: #0008e2;
  }

  .checkBox {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }


