

html,
body {
  overflow-x: hidden;
}

body {

  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 2rem;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}


.listItem {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.completed {
  text-decoration: line-through;
  color: gray; 
}



