
html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



a {
  color: rgb(70, 70, 70);
  text-decoration: none;
  font-weight: bold;
}


ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}

button {
background-color: #151DFF;
color: white;
font-weight: bold;
border: none;
padding: 1rem 3rem;
cursor: pointer;
}


button:hover {
  background-color: #0008e2;
  }

  .checkBox {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }


  footer {
    border-top: solid rgb(192, 192, 192) 1px;
    height: 200px;
    padding: 2em;
  }


  .editModal {
    background-color: white;
    padding: 2em;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  }


  .spinnerWrapper {
    display: flex;
    justify-content: center;
  }


  .spinner {
    width: 100px;
    height: 100px;
    border: 10px solid rgb(57, 126, 255);
    border-radius: 50%;
    border-top: 10px solid rgb(255, 255, 255);
    animation: rotate 1s infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(360deg);
    }
  }


  

  


