
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    border-bottom: solid rgb(192, 192, 192) 1px;
  }
  
  .navList {
    display: flex; 
    flex-direction: row;
    gap: 4rem;
    list-style: none;
  }
  
  .navListItem:hover {
    text-decoration: underline;
  }